@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(string.IsNullOrWhiteSpace(ViewBag.Title?.ToString()) ? string.Empty : $"{ViewBag.Title} - ")To Do List</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            @Html.ActionLink("To Do List", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">@Html.ActionLink("關於", "Index", "Home", null, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @((this.ViewBag.CurrentUser as AppUser).Id)
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "ToDoList")">我的待辦清單</a>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Account")">登出</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item active">@Html.ActionLink("登入", "Login", "Account", null, new { @class = "nav-link" })</li>
                        <li class="nav-item active">@Html.ActionLink("註冊", "Register", "Account", null, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - To Do List</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>
    <script type="text/javascript" src="~/Scripts/site.js"></script>
    @Html.Partial("_TempDataAlert")
    @RenderSection("scripts", required: false)
</body>
</html>

