@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(string.IsNullOrWhiteSpace(ViewBag.Title?.ToString()) ? string.Empty : $"{ViewBag.Title} - ")To Do List</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/toDoList.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>
    <script type="text/javascript" src="~/Scripts/site.js"></script>
    @Html.Partial("_TempDataAlert")

    @RenderSection("scripts", required: false)
</body>
</html>


